/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#root {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  text-align: center;
}

body {
  /* background-color: #F7F7F6; */
  font-size: 1.4rem;
  line-height: 1.5;
  color: #282828;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  font: 18px/1.5 "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  display: block;
}

html {
  font-family: 'Quicksand', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  overflow-y: scroll;
  height: 100%;
  line-height: 1;
  display: block;
}

/* html[Attributes Style] {
  -webkit-locale: "en";
} */

head {
  display: none;
}

html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  display: block;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #282828;
  -webkit-font-smoothing: antialiased;
  font: 18px/1.5 "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

div {
  display: block;
}

button {
  border: 0;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  line-height: unset !important;
  padding: 0;
  background: transparent;
  -webkit-font-smoothing: inherit;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
  text-align: center;
  color: buttontext;
  box-sizing: border-box;
}

/* input, textarea, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb !important;
} */

input, textarea, select, button {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  margin: 0em;
  font: 400 11px system-ui;
}

a, a:link a:visited, a:active, button, button:visited, button:active {
  text-decoration: none;
}

a:-webkit-any-link {
  cursor: pointer;
}

input, textarea, select, button {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  margin: 0em;
  font: 400 11px system-ui;
}

/* input, textarea, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb !important;
} */

fieldset ol {
  list-style: none;
}

ol {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

input {
  -webkit-font-smoothing: antialiased;
  font-family: 'Quicksand', sans-serif;
  background-color: white;
  -webkit-rtl-ordering: logical;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 11px system-ui;
  font-size: 14px;
}

/* input, textarea, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb !important;
} */

fieldset ol>li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

label {
  cursor: default;
}

h2 {
  display: block;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}


.we-are-starters-header {
  color: #282828;
}

.body {
  font-family: 'Quicksand', sans-serif;
}

.relative {
  position: relative;
}

.nav-container {
  display: flex;
  -webkit-box-pack: justify;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-color: #E8E8E8;
  border-bottom: 0.05rem solid #DCDEDD;
  overflow: auto;
}

.nav-bar {
  /* z-index: 109; */
  width: 100%;
  left: 0rem;
  top: 0rem;
  position: absolute;
  display: none;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.335, 1);
  animation-duration: 300ms;
  opacity: 0;
  opacity: 1;

}

.nav-bar-logo {
  height: 4.5rem;
  width: auto;
  padding-top: 0.2rem !important;
  padding-bottom: 1.2rem !important;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex: 0 0 auto;
  -webkit-box-ordinal-group: 21;
  order: 2;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.logo-image-container {
  height: 43px;
}
.logo-image {
  width: 240px;
  height: auto;
}

.logo-image-form {
  width: 300px;
  height: auto;
}

.nav-left {
  padding-left: 2.4rem;
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  flex-grow: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
  flex-basis: 50%;
  display: flex;
}

.explore-btn {
  margin-right: 1.2rem;
  padding-top: -0.75rem;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  background-color: #FFFFFF;
  color: #282828;
  font-size: 10pt;
}

.explore-btn:hover {
  color: #009E74;
}

.start-a-project-link {
  padding-right: 1.8rem;
  margin-right: 1.2rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: #282828;
  font-size: 10pt;
}

.start-a-project-link:hover {
  color: #009E74;
}

.nav-right {
  padding-right: 2.4rem;
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-basis: 50%;
  -webkit-box-ordinal-group: 31;
  order: 3;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.search-btn {
  padding: 0rem;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  /* fill: #282828; */
  background-color: #FFFFFF;
  font-size: 10pt;
  font-family: 'Quicksand', sans-serif;

}

.search-btn:hover {
  color: #009E74;
}

.sign-in-link {
  margin-left: 1.8rem;
  color: #282828;
  font-size: 10pt;
  cursor: pointer;
}

.sign-in-link:hover {
  color: #009E74;
}

.main-content {
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  background-color: #F7F7F6;
}

.user-acct-form {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
  padding-right: 1.8rem !important;
  padding-left: 1.8rem !important;
}

.acct-form {
  max-width: 400px;
  margin: auto;
}

.auth-form {
  background-color: #FFFFFF;
  border-color: #F1EEEA;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding: 20px;
}

.auth-form-footer {
  color: #282828;
  background-color: rgba(241,238,234,0.2);
  border-top: 1px solid #F1EEEA;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  background-color: #FFFFFF;
  border-color: #F1EEEA;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding: 20px;
}

.form {
  margin-bottom: 1.8rem;
  list-style: none;
}

.form-simple input[type=text], .form-simple input[type=password], .form-simple input[type=tel], .form-simple input[type=email], .form-simple input[type=number] {
  border-radius: 0;
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  -webkit-appearance: none;
}

.select, select, input {
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
}

.demo-login {
  border: 0;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  line-height: unset !important;
  padding: 0;
  background: transparent;
  -webkit-font-smoothing: inherit;
  color: blue;
  -webkit-appearance: none;
  font-weight: bold;
}

.title {
  font-weight: normal;
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 40px;
  text-align: left;
}

.input-submit {
  display: block;
  margin-bottom: 1.2rem;
  -webkit-margin-start: -18px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  min-width: -webkit-min-content;
}

.check-box-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}

.check-box-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 9px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.check-box-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.check-box-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.submit-btn {
  width: 100%;
  background-color: #009E74;
  color: #FFFFFF !important;
  height: 4.2rem;
  line-height: 4.2rem;
  padding: 0 1.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.25s ease-in-out !important;
  text-align: center;
  cursor: pointer;
  border: none;
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  border-radius: 0;
}

input text {
  font-size: 18px;
  padding: 7px;
}

::placeholder {
  font-size: 18px;
  padding: 7px;
}


.username-input {
  border-radius: 0;
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  border-color: #DCDEDD;
  color: #282828;
  border: 1px solid #DCDEDD;
  cursor: default;
  position: relative;
  height: 42px;
  width: 338px;
  margin: 0;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  font: 400 14px system-ui;
  /* -webkit-writing-mode: horizontal-tb !important; */
  list-style-image: none;
  list-style-type: none;
}

.email-input {
  border-radius: 0;
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  border-color: #DCDEDD;
  color: #282828;
  border: 1px solid #DCDEDD;
  cursor: default;
  position: relative;
  height: 42px;
  width: 338px;
  margin: 0;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  font: 400 14px system-ui;
  /* -webkit-writing-mode: horizontal-tb !important; */
  list-style-image: none;
  list-style-type: none;
}

.password-input {
  border-radius: 0;
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  border-color: #DCDEDD;
  color: #282828;
  border: 1px solid #DCDEDD;
  cursor: default;
  position: relative;
  height: 42px;
  width: 338px;
  margin: 0;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  font: 400 14px system-ui;
  /* -webkit-writing-mode: horizontal-tb !important; */
  list-style-image: none;
  list-style-type: none;
}

.p-title {
  font-weight: bold;
  color: blue;
}
.log-out-btn {
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
  margin-right: -134rem;
  margin-top: -13.5rem;
  z-index: auto;
  position: sticky;
  /* background-color: white; */
}

.log-out-btn:hover {
  color: blue;
}

.profile-img {
  width: 50px;
  height: auto;
  margin-left: 134rem;
  z-index: 110;
  margin-top: -25rem;
  position: sticky;
}

.footer-container {
  margin-bottom: 3rem;
  background-color: #FFFFFF;
  border-width: 0.2rem;
  border-color: #9B9E9E;
  /* border-top: 0.3rem solid #DCDEDD; */
  /* margin-top: 350rem; */
}

.subcategory-bar {
  display: block;

}

.grid-container {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 14px;
  /* border-top: 0.5px solid #9B9E9E; */
}

.grid-row {
  margin-left: -12px;
  margin-right: -12px;
  box-sizing: inherit;
}

.grid-row:before {
    content: " ";
    display: table;
}

.grid-row:after {
    clear: both;
}

.grid-row:after {
    content: " ";
    display: table;
}

.col-full {
  padding-left: 12px;
  padding-right: 12px;
  vertical-align: top;
  float: left;
  padding-bottom: 0rem;
  width: calc(6/24 * 100%) !important;
  box-sizing: inherit;
}

.grid-section {
  box-sizing: inherit;
  display: block;
}

.grid-title {
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.8rem;
  box-sizing: inherit;
  display: block;
  text-align: left;
  font-size: 13px;
}

h3 {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: -0.6em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: -40px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.grid-ul {
  text-align: left;
}

.link-soft-black {
  color: #282828;
  fill: #282828;
  box-sizing: inherit;
  cursor: pointer;
  list-style-type: none;
  text-align: -webkit-match-parent;
}

.link-soft-black :hover {
  text-decoration: underline;
  color: #009E74;
}

.section-project-form-1 {
  padding-bottom: 6rem;
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  /* vertical-align: baseline; */
  font: inherit;
}

.grid-content-container1 {
  padding-left: 18px;
  padding-right: 18px;
  vertical-align: top;
  float: left;
  position: relative;
  width: calc(12/24 * 100%) !important;
  margin-left: calc(4/24 * 100%) !important;
  box-sizing: inherit;
}

.grid-content-box1 {
  padding-top: 6rem !important;
  padding-bottom: 4rem !important;
  box-sizing: inherit;
}

.grid-content-box1-title {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 2.4rem;
  font-size: 3.8rem;
  line-height: 5.4rem;
  box-sizing: inherit;
  -webkit-margin-before: -0.8em;
  -webkit-margin-after: 0.3em;
  display: block;
  text-align: left;
}

.grid-content-box1-btn {
  box-sizing: inherit;
  background-color: #009E74;
  color: #FFFFFF !important;
  height: 4.8rem;
  line-height: 4.8rem;
  padding: 0 2.4rem;
  font-size: 1.6rem;
  border: none;
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
  font-weight: 350;
  transition: all 0.25s ease-in-out !important;
  text-align: center;
  text-decoration: none;
  align-items: flex-start;
}

.grid-content-box1-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 0 2px 4px rgba(40,40,40,0.17);
  transition: all 0.25s ease-in-out !important;
}

.grid-content-container2-1 {
  padding-left: 12px;
  padding-right: 12px;
  vertical-align: top;
  float: left;
  position: relative;
  padding-bottom: 5vh;
  width: calc(14/24 * 100%) !important;
  box-sizing: inherit;
}

.project-image-link {
  background-image: url('https://a.kickstarter.com/assets/projects/learn/refresh/feature-1-6e68a182e1340ce87d9b3c9f9a25da52935d14be496a4e88085025ae54bb870d.jpg');
  height: 85vh;
  position: relative;
  display: block;
  background-position: center center;
  background-size: cover;
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
  box-sizing: inherit;
  text-decoration: none;
  color: #2752ff;
  cursor: pointer;
}

.project-image-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: inherit;
  box-shadow: 0 3px 6px 1px rgba(0,0,0,0.17);
  transition: all 0.25s ease-in-out !important;
  outline: 0;
}

.grid-content-container2-2 {
  padding-left: 18px;
  padding-right: 18px;
  vertical-align: top;
  float: left;
  position: relative;
  width: calc(10/24 * 100%) !important;
  box-sizing: inherit;
}

.container2-project-image {
  padding-bottom: 5vh;
  margin-left: -12px;
  margin-right: -12px;
  box-sizing: inherit;
}

.container2-project-image-link {
  background-image: url('https://a.kickstarter.com/assets/projects/learn/refresh/feature-2-8c80ae939629f8b10087e097c965990ff4b3eae72b90b51fc597c7f794420881.jpg');
  height: 40vh;
  position: relative;
  display: block;
  background-size: cover;
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
  box-sizing: inherit;
  text-decoration: none;
  color: #2752ff;
}

.container2-project-image-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: inherit;
  box-shadow: 0 3px 6px 1px rgba(0,0,0,0.17);
  transition: all 0.25s ease-in-out !important;
  outline: 0;
}

.container2-project-image-link2 {
  background-image: url('https://a.kickstarter.com/assets/projects/learn/refresh/feature-3-48fe9583f16524ea8412cbb862901b00af1aaf669fdcf43f466f34af5696fc08.jpg');
  height: 40vh;
  position: relative;
  display: block;
  background-position: center bottom;
  background-size: cover;
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
  box-sizing: inherit;
  cursor: pointer;
  padding-left: 18px;
  padding-right: 18px;
}

.container2-project-image-link2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: inherit;
  box-shadow: 0 3px 6px 1px rgba(0,0,0,0.17);
  transition: all 0.25s ease-in-out !important;
  outline: 0;
}

.grid-image-text {
  left: 1rem;
  bottom: 1.8rem;
  right: 1rem;
  position: absolute;
  box-sizing: inherit;
  display: inline;
  background: #FFFFFF;
  box-shadow: 0.6rem 0 0 #FFFFFF, -0.6rem 0 0 #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  color: #000000;
  font-size: 0.88rem;
  line-height: 2.0rem;
}

.section-project-form-1 {
  background-color: white;
}

.default-category-select {
  color: grey;
}

.project-delete-edit-btn {
  width: 28%;
  background-color: #009E74;
  color: #FFFFFF !important;
  height: 3rem;
  line-height: 4.2rem;
  padding: 0 1.8rem;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.25s ease-in-out !important;
  text-align: center;
  cursor: pointer;
  border: none;
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  border-radius: 0;
}


.project-delete-edit-btn-show {
  width: 27.2%;
  background-color: #009E74;
  color: #FFFFFF !important;
  height: 4.2rem;
  line-height: 4.2rem;
  padding: 0 1.8rem;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.25s ease-in-out !important;
  text-align: center;
  cursor: pointer;
  border: none;
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  border-radius: 0;
  border-top: 0.05rem solid #DCDEDD;
  border-bottom: 0.05rem solid #DCDEDD;
  border-left: 0.05rem solid #DCDEDD;
  border-right: 0.05rem solid #DCDEDD;
}

.search-box-container {
  background-color: black;
  color: white;
}

.campaign-state-live {
  padding-top: 0px;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: white;
  height: 1180px;
}

.content-wrap {
  display: block;
}

.main-show-content {
  background-color: white;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  /* vertical-align: baseline; */
  display: block;
}

.grid-show-container {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  /* max-width: 1366px; */
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.grid-show-image-container {
  margin-bottom: 0rem;
  -webkit-box-ordinal-group: 1;
  order: 0;
  margin-left: -12px;
  margin-right: -12px;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  /* vertical-align: baseline; */
  display: block;
  -webkit-box-direction: normal;
}

.grid-show-image-container:before {
  content: " ";
  display: table;
}

.grid-show-image-container:after {
  clear: both;
  content: " ";
  display: table;
}

.grid-show-image-box {
  padding-left: 12px;
  padding-right: 12px;
  /* vertical-align: top; */
  float: left;
  position: relative;
  width: 100% !important;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  display: block;
  -webkit-box-direction: normal;
}

.grid-show-image {
  margin-right: -7.2rem;
  margin-left: -7.2rem;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  /* vertical-align: baseline; */
  display: block;
  -webkit-box-direction: normal;
}

.show-project-image {
  /* width: 105%;
  background-color: #000000;
  box-sizing: inherit;
  padding-bottom: 56.25%;
  height: 500px;
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-direction: normal; */
  overflow: scroll;
  position: relative;
  margin-bottom: 0rem;
  display: block;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.index-project-image {
  border-radius: 10px;
  width:550px;
}

.show-project-image {
  z-index: 2;
  box-sizing: inherit;
  height: 100%;
  align-items: center;
  image-resolution: from-image;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 750px;
}

.grid-show-info-container {
  margin-top: 4.3rem;
  -webkit-box-ordinal-group: 3;
  order: 2;
  margin-left: -12px;
  margin-right: -12px;
  box-sizing: inherit;
  display: block;
}

.show-title-description-container {
  padding-left: 12px;
  padding-right: 12px;
  float: left;
  position: relative;
  -webkit-box-ordinal-group: 3;
  order: 2;
  display: block;
  width: calc(20/24 * 100%) !important;
  box-sizing: inherit;
  -webkit-box-direction: normal;
  padding-left: 37px;
  padding-top: 37px;
}



.grid-show-info-box {

  position: relative;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  margin-left: -12px;
  margin-right: -12px;
  box-sizing: inherit;
}

.grid-show-info {
  position: relative;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  /* display: none !important; */
  margin-left: -12px;
  margin-right: -12px;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

.show-project-title {
  padding-left: 12px;
  padding-right: 12px;
  /* vertical-align: top; */
  float: left;
  position: relative;
  width: 100%;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  display: block;
  -webkit-box-direction: normal;
}

.show-title {
  margin-bottom: 1.8rem;
  font-weight: 500;
  font-size: 3.8rem;
  line-height: 4.2rem;
  box-sizing: inherit;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: -0.17em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  font-size: 80%;
  width: 1000px;

}

.show-project-side-info {
  /* padding-left: 12px;
  padding-right: 12px;
  vertical-align: top;
  float: left;
  position: relative;
  margin-bottom: 1.8rem;
  -webkit-box-ordinal-group: 3;
  order: 2;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  display: flex;
  width: calc(4/24 * 100%) !important;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 52%;
  color: #282828;
  -webkit-font-smoothing: antialiased;
  -webkit-margin-start: 100px;
  -webkit-margin-end: 100px; */
  padding-left: 120px;
  padding-top: 70px;

  padding-right: 12px;
  vertical-align: top;
  float: left;
  position: relative;
  margin-bottom: 1.8rem;
  -webkit-box-ordinal-group: 3;
  order: 2;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  display: flex;
  width: calc(4/24 * 100%) !important;
  box-sizing: inherit;
  font-size: 53%;
}

.show-side-info-link-to-creator {
  /* cursor: pointer;
  width: 4.2rem;
  margin-bottom: 1.2rem;
  flex-shrink: 0;
  box-sizing: inherit;
  text-decoration: none;
  color: #2752ff;
  -webkit-box-direction: normal; */
  cursor: pointer;
  width: 4.2rem;
  margin-bottom: 1.2rem;
  flex-shrink: 0;
  box-sizing: inherit;
  text-decoration: none;
  -webkit-box-direction: normal;
}

.show-project-side-circle-image {
  height: 4.2rem;
  width: 4.2rem;
  flex-shrink: 0;
  background-color: #DCDEDD;
  box-sizing: border-box;
  border-radius: 100% !important;
  list-style-type: circle;
  cursor: pointer;
  color: #2752ff;
  -webkit-box-direction: normal;
}

.show-project-side-creator-info {
  word-break: break-word;
  margin-left: 0rem;
  color: #282828;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-direction: normal;
}

.show-side-info-link-to-creator-projects {
  cursor: pointer;
  padding: 0rem;
  margin: 0rem;
  font-weight: 500;
  color: #282828;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-decoration: none;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  word-break: break-word;
  -webkit-box-direction: normal;
}

.show-side-info-number-of-creator-projects {
  margin-bottom: 1.2rem;
  display: block;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  /* vertical-align: baseline; */
  -webkit-box-direction: normal;
}

.show-side-info-link-to-projects {
  color: #656969;
  box-sizing: inherit;
  text-decoration: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.show-project-description {
  color: #656969;
  font-size: 1.8rem;
  line-height: 2.4rem;
  box-sizing: inherit;
  margin-bottom: 20px;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-box-direction: normal;
  text-align: left;
  font-size: 70%;
  width: 1000px;
}

.show-info-green-line-separater {
  margin-bottom: 3rem;
  display: block;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  /* vertical-align: baseline; */
  -webkit-box-direction: normal;
}

.grid-show-pledge-info-container {
  -webkit-box-ordinal-group: 3;
  order: 2;
  margin-left: -12px;
  margin-right: -12px;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  /* vertical-align: baseline; */
  display: block;
  -webkit-box-direction: normal;
  -webkit-margin-start: 30px;
-webkit-margin-end: 30px;
}



.grid-show-pledge-box {
  padding-left: 12px;
  padding-right: 12px;
  /* vertical-align: top; */
  float: left;
  position: relative;
  width: calc(20/24 * 100%) !important;
  margin-left: calc(4/24 * 100%) !important;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  display: block;
  -webkit-box-direction: normal;
}

.grid-show-pledge-upper-space {
  width: 100%;
  margin-bottom: 1.8rem;
  background-color: #E8E8E8;
  box-sizing: inherit;
}

.grid-show-pledge-space {
  width: 100%;
  width: 100%;
  background-color: #037362;
  box-sizing: inherit;
}

.show-pledge-info-box {
  margin-bottom: 3rem;
  display: flex;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  width: 1000px;
}

.show-pledge-info-1 {
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  /* vertical-align: baseline; */
  display: block;
}

.num-nowrap {
  white-space: nowrap;
}

.show-project-pledge-amount-box {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  box-sizing: inherit;
}

.show-project-pledge-amount-span {
  font-weight: 500;
  display: inline-block;
  color: #037362;
  font-size: 2rem;
  line-height: 3rem;
  box-sizing: inherit;
}

.show-project-pledge-amount {
  color: #037362;
}

.show-project-pledge-amount-icon {
  position: relative;
  color: #FFFFFF;
  bottom: -2px;
}

.show-project-pledge-goal-amount-box {
  display: block;
  color: #656969;
  font-size: 1.2rem;
  line-height: 2.4rem;
}

.show-project-pledge-goal-amount-span {
  display: inline-block;
  color: #656969;
}

.show-project-pledge-goal-amount {
  box-sizing: inherit;
  white-space: nowrap;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: #656969;
}

.show-pledge-info-2 {
  margin-left: 3rem;
  box-sizing: inherit;
  display: block;
}

.show-pledge-backers-num {
  font-weight: 500;
  display: block;
  color: #282828;
  font-size: 2rem;
  line-height: 3rem;
  box-sizing: inherit;
}

.show-pledge-backers-text {
  display: block;
  color: #656969;
  font-size: 1.2rem;
  line-height: 2.4rem;
  box-sizing: inherit;
}

.show-plege-info-3 {
  margin-left: 3rem;
  margin-left: 3rem;
  display: block;
}

.show-num-days-left {
  font-weight: 500;
  display: block;
  color: #282828;
  font-size: 2rem;
  line-height: 3rem;
}

.show-num-days-left-text {
  display: block;
  color: #656969;
  font-size: 1.2rem;
  line-height: 2.4rem;
  box-sizing: inherit;
}

.grid-show-upper-bar-container {
  margin-bottom: 0rem;
  -webkit-box-ordinal-group: 2;
  order: 1;
  border-top: none;
  /* border-bottom: 0.1rem solid #DCDEDD; */
  margin-left: -60px;
  margin-right: -60px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: inherit;
  display: block;
}

.grid-show-upper-bar-box {
  margin-left: -12px;
  margin-right: -12px;
  box-sizing: inherit;
  -webkit-box-direction: normal;

}

.show-upper-bar-box {
  padding-left: 12px;
  padding-right: 12px;
  /* vertical-align: top; */
  float: left;
  position: relative;
  width: 100%;
  box-sizing: inherit;
  display: block;
}

.show-upper-bar {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  overflow-x: auto;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  border-bottom: 0.08rem solid #DCDEDD;
  -webkit-margin-start: 30px;
  -webkit-margin-end: 30px;
  /* border-top: 0.08rem solid #DCDEDD; */

}

.show-upper-bar-link-projects {
  margin-right: 1.8rem;
  font-weight: 400;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  /* color: #282828; */
  font-size: 0.8rem;
  line-height: 1.8rem;
  white-space: nowrap;
  text-decoration: none;
}

.show-upper-bar-icon1 {
  height: 2.4rem;
  width: 2.4rem;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  /* background-color: #037362; */
  border-radius: 100% !important;
  list-style-type: circle;
  box-sizing: inherit;
}

.show-upper-bar-icon1-text {
  margin-left: 0.6rem;
  box-sizing: inherit;
  color: #282828;
  white-space: nowrap;
  cursor: pointer;
}

.show-upper-bar-link-category {
  margin-right: 1.8rem;
  font-weight: 400;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  color: #282828;
  font-size: 0.8rem;
  line-height: 1.8rem;
  box-sizing: inherit;
  white-space: nowrap;
  text-decoration: none;
}

.show-upper-bar-icon2 {
  fill: #282828;
  width: 2rem;
  height: 2rem;
  box-sizing: inherit;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  font-weight: 500;
  color: #282828;
  font-size: 1.2rem;
  line-height: 1.8rem;
  white-space: nowrap;
  cursor: pointer;

}

.show-upper-bar-icon2-text {
  margin-left: 0.6rem;
  box-sizing: inherit;
  white-space: nowrap;
  cursor: pointer;
}

.show-upper-bar-link-location {
  margin-right: 1.8rem;
  font-weight: 400;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  color: #282828;
  font-size: 0.8rem;
  line-height: 1.8rem;
  box-sizing: inherit;
  white-space: nowrap;
  text-decoration: none;
}

.show-upper-bar-icon3 {
      fill: #282828;
      width: 2rem;
height: 2rem;
display: inline-block;
    vertical-align: middle;
overflow: hidden;
font-weight: 500;
color: #282828;
font-size: 1.2rem;
    line-height: 1.8rem;
    white-space: nowrap;
    cursor: pointer;
}

.show-upper-bar-icon3-text {
  margin-left: 0.6rem;
  margin-left: 0.6rem;
  white-space: nowrap;
  cursor: pointer;
}

.grid-show-backing-reminding-btns-container {
  -webkit-box-ordinal-group: 3;
  order: 2;
  margin-left: -12px;
  margin-right: -12px;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  /* vertical-align: baseline; */
  font: inherit;
  display: block;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.grid-show-backing-reminding-btns-box {
  padding-left: 12px;
  padding-right: 12px;
  /* vertical-align: top; */
  float: left;
  position: relative;
  width: calc(20/24 * 100%) !important;
  margin-left: calc(4/24 * 100%) !important;
  box-sizing: inherit;
  -webkit-box-direction: normal;
  display: block;
  -webkit-font-smoothing: antialiased;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.show-backing-reminding-btns-box {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 1rem;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.show-back-this-project-btn {
      /* margin-bottom: 1.8rem; */
      display: block;
      box-sizing: inherit;
      background-color: #009E74;
      color: #FFFFFF !important;
      height: 3.8rem;
      line-height: 4.8rem;
      padding: 9px 2.4rem;
      font-size: 1.3rem;
      /* font-weight: 500; */
      transition: all 0.25s ease-in-out !important;
      /* text-align: center; */
      cursor: pointer;
      /* border: none; */
      /* position: relative; */
      -webkit-appearance: none;
      border-radius: 0;
      text-decoration: none;
      margin: 0;
      /* vertical-align: baseline; */
      font: inherit;
      /* margin-right: 45.8rem; */
      font-size: 86%;
      width: 500px;
}

/* .show-back-this-project-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 0 2px 4px rgba(40,40,40,0.17);
  transition: all 0.25s ease-in-out !important;
} */

.show-remind-me-btn-and-sharing-icons {
  margin-bottom: 1.8rem;
  display: flex;
  box-sizing: inherit;
  width: 1000px;
  padding-top: 1rem;
}

.show-remind-me-btn-div {
  width: 100%;
  flex-basis: 33%;
  flex-grow: 1;
  display: block;
  box-sizing: inherit;
}

.show-remind-me-btn {
  width: 100%;
  box-shadow: inset 0px 0px 0px 1px #DCDEDD;
  background-color: #FFFFFF;
  color: #282828 !important;
  padding: 0 1.8rem;
  font-size: 1.4rem;
  height: 3.5rem;
  font-weight: 500;
  transition: all 0.25s ease-in-out !important;
  text-align: center;
  cursor: pointer;
  border: none;
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  border-radius: 0;
  font-family: 'Quicksand', sans-serif;
  line-height: unset !important;
  background: transparent;
  -webkit-font-smoothing: inherit;
  text-decoration: none;
  align-items: flex-start;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  margin: 0em;
  font: 400 11px system-ui;
  /* -webkit-writing-mode: horizontal-tb !important; */
  -webkit-box-direction: normal;
  width: 500px;
}

.show-remind-me-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 0 2px 4px rgba(40,40,40,0.17);
  transition: all 0.25s ease-in-out !important;
}

.show-remind-me-btn-icon {
  height: 1.8rem !important;
  width: 1.8rem !important;
  fill: currentColor !important;
  margin-right: 0.3rem;
  top: -0.4rem;
  position: relative;
  box-sizing: inherit;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  color: #282828 !important;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  line-height: unset !important;
  -webkit-font-smoothing: inherit;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  font: 400 11px system-ui;
  /* -webkit-writing-mode: horizontal-tb !important; */
  font-size: 180%;
}

.show-remind-me-btn-text {
  white-space: nowrap;
  box-sizing: inherit;
  color: #282828 !important;
  text-align: center;
  cursor: pointer;
  /* -webkit-writing-mode: horizontal-tb !important; */
  font-size: 180%;
}

.show-sharing-icons {
  width: 100%;
  flex-basis: 50%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  box-sizing: inherit;
}

.show-sharing-icons-list {
  width: 100%;
  display: block;
}

.show-sharing-icons-items {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  box-sizing: inherit;
  margin-top: auto;
  text-align: center;
  margin-right: 9.8rem;
  width: 480px;

}

.show-sharing-icon-item1 {
  margin-right: 2.4rem;
  margin-left: 2.4rem;
  display: inline-block;
  box-sizing: inherit;
}

.show-sharing-icon-fb {
  box-sizing: inherit;
  text-decoration: none;
  cursor: pointer;
}

.show-sharing-fb {
  fill: #656969;
  width: 2.5rem;
  height: 2.5rem;
  box-sizing: inherit;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  font-size: 100%;
  color: grey;
  cursor: pointer;
}

.show-sharing-icon-item2 {
  margin-right: 2.4rem;
  display: inline-block;
  box-sizing: inherit;
}

.show-sharing-icon-t {
  box-sizing: inherit;
  text-decoration: none;
  cursor: pointer;
}

.show-sharing-t {
  fill: #656969;
  width: 2.5rem;
  height: 2.5rem;
  box-sizing: inherit;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  font-size: 100%;
  cursor: pointer;
}

.show-sharing-icon-item3 {
  margin-right: 2.4rem;
  display: inline-block;
  box-sizing: inherit;
}

.show-sharing-icon-mail {
  box-sizing: inherit;
  text-decoration: none;
  cursor: pointer;
}

.show-sharing-mail {
  fill: #656969;
  width: 2.5rem;
  height: 2.5rem;
  box-sizing: inherit;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  font-size: 100%;
  cursor: pointer;
}

.grid-show-warning-details-container {
  margin-bottom: 1.8rem;
  -webkit-box-ordinal-group: 3;
  order: 2;
  margin-left: -12px;
  margin-right: -12px;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  /* vertical-align: baseline; */
  font: inherit;
  display: block;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.grid-show-warning-details-box {
  padding-left: 12px;
  padding-right: 12px;
  vertical-align: top;
  float: left;
  position: relative;
  width: calc(20/24 * 100%) !important;
  margin-left: calc(4/24 * 100%) !important;
  box-sizing: inherit;
}

.show-warning-details-p {
  margin-bottom: 1.8rem;
  font-size: 0.8rem;
  line-height: 1.8rem;
  box-sizing: inherit;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  /* padding-right: 40rem; */
  text-align: left;
}

.show-warning-all-or-nothing {
  color: #282828;
  fill: #282828;
  font-weight: 500;
  box-sizing: inherit;
}

.show-all-or-nothing-link {
  cursor: pointer;
  text-decoration: underline;
  color: #282828;
}



.grid-form-container1 {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  margin-bottom: 70rem;
}

.grid-form-container2 {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  margin-bottom: 50rem;
}

.grid-form-container3 {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  margin-bottom: 50rem;
}

.grid-form-container4 {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  margin-bottom: 50rem;
}

.grid-form-upper-nav {
  margin-left: -18px;
  margin-right: -18px;
  box-sizing: inherit;
}

.form-upper-nav-logo {
  vertical-align: top;
  float: left;
  position: relative;
  margin-left: -18px;
  margin-right: -18px;
  padding-top: 1.8rem !important;
  padding-bottom: 0rem !important;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  width: 100%;
  box-sizing: inherit;
}

.form-upper-nav-logo-link {
  width: 100%;
  margin-left: auto;
  margin-left: auto;
  margin-bottom: 0rem;
  cursor: pointer;
  border-bottom: 0.08rem solid #DCDEDD;
}

.form-upper-nav-page-num {
  padding-left: 0px;
  padding-right: 18px;
  vertical-align: top;
  float: left;
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 50%;
  color: rgba(0, 0, 0, 0.34);
}

.form-page-num {
  font-weight: 500;
  display: inline;
  box-sizing: inherit;
}

.create-project {
  height: 400px;
  width: 1000px;
  margin: 0 auto;
}


.category-selector-h2 {
  padding-top: 10rem;
  -webkit-font-smoothing: antialiased;

}
.category-selector-h3 {
  color: rgba(0,0,0,0.6);
  font-size: 65%;
  text-align: center;
  -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
        -webkit-font-smoothing: antialiased;
}

.category-dropdown {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
  background-color: #FFFFFF;
  border-color: transparent;
  border: 0.1rem solid #DCDEDD;
      border-radius: 2px !important;
      transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
          cursor: pointer;
          color: #282828;
          font-size: 100%
}

option {
  color: grey;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 40px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
}

.grid-content-box1-btn {
  border-radius: 4px;
}

.grid-content-box1-btn:hover {
  background-color: black;
}

.search-input {
  overflow: visible;
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: -1rem;
  color: white;
  font-weight: bold;
  font-size: 14pt;
}

.search-box-container {
  background-color: white;
}

.search-result {
  z-index: 100;
  color: grey;
  /* background-color: white; */
}

.search-result-list-item {
  border-radius: 5px;
  /* border-bottom: 3px solid grey; */
  font-size: 60%
}

.form-policy {
  font-size: 50%;
  color: #868383;
  padding-top: 5rem;
}

.index-item-container {
  border-color: #E8E8E8;
  border-bottom: 0.1rem solid #DCDEDD;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: inherit;
  font-weight: inherit;
  /* vertical-align: baseline; */
  display: block;
  background-color: white;

}

.grid-index-item-container {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.grid-index-item-box {
  padding-top: 4.8rem !important;
  padding-bottom: 4.8rem !important;
}

.index-upper-bar {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  display: flex;
  border-top: 1px solid #E8E8E8;
  font-size: 60%;
}

.grid-index-items {
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  display: flex;
  /* max-width: 100px;
  max-height: 100px; */
}

.index-item-container {
  padding-bottom: 3rem;
  flex-basis: 43%;
}

.index-item-image {
  position: relative;
  margin-bottom: 0rem;
  display: block;
  height: 377px;
  width: 570px;
  overflow: scroll;
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

.index-view-more {
  color: blue;
  font-size: 1rem;
}

.index-view-more:hover {
  text-decoration: underline;
}

.index-item {
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
  width: 100%;
}

.index-item-title {
  font-family: 'Quicksand', sans-serif;
  padding-top: 1.8rem;
  color: #282828;
  font-size: 1.6rem;

}
.index-item-title:hover {
  color: #037362;
  text-decoration: underline;

}

.index-item-description {
  font-family: 'Quicksand', sans-serif;
  color: #282828;
  font-size: 1.2rem;
}

.welcome-user-name {
  font-family: 'Quicksand', sans-serif;
}

.pledged-amount {
  color: #037362;
  font-size: 130%;
}

.index-item-funding {
  border-bottom: 0.5rem solid #037362;
  border-top: 0.05rem solid #DCDEDD;

}

.delete-edit-btns {
  display: flex;
  flex-direction: row;
}

.project-delete-edit-btn:hover {
  background: black;
}

.project-delete-edit-btn {
  border-top: 0.05rem solid #DCDEDD;
  border-bottom: 0.05rem solid #DCDEDD;
  border-left: 0.05rem solid #DCDEDD;
  border-right: 0.05rem solid #DCDEDD;
}

.delete-edit-btns {
  padding-top: 1rem;
}

/* .index-categories-bar {
  display: flex;
  flex-direction: row;
  font-size: 70%;
  position: sticky;
  z-index: 130;
  justify-content: space-between;
 width: 80%;
 text-align: center;
 align-items: center;
} */

.index-categories-bar {
  border-color: #E8E8E8;
  border-bottom: 0.1rem solid #DCDEDD;
  font-size: 70%;
  position: sticky;
  z-index: 130;
  background-color: white;
}



.grid-categories-container {
  padding-left: 120px;
    padding-right: 120px;
    /* max-width: 1366px; */
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.grid-categories-box {
  margin-right: 0rem;
    margin-left: 0rem;
    display: flex;
    box-sizing: inherit;
}

.category-bar {
      width: 100%;
      overflow-x: auto;
      margin-top: 1.8rem;
   margin-bottom: 1.8rem;
box-sizing: inherit;
}

.categories-ul {
  white-space: nowrap;
  -webkit-box-pack: center;
  /* justify-content: center; */
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  list-style: none;
  /* font-weight: 400; */
  font-size: 14pt;
}

.category-list {
  list-style-type: none;
    padding: 0;
    margin: 0;
    display: list-item;
text-align: -webkit-match-parent;
}

.category-a {
  position: relative;
  display: inline-block;
  outline: none;
  font-family: 'Quicksand', sans-serif;
  margin-right: 1.8rem;
  margin-left: 1.8rem;
  color: #656969;
  /* font-size: 1.6rem; */
  line-height: 2.4rem;
  font-size: 80%;
}

.category-a:hover {
  font-size: 100%;
  color: #034752;
  text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  background: white;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DCDEDD;
  size: 1px;
  background: #6569694d;
  border-radius: 10px;

}

/* .category-bar::-webkit-scrollbar-thumb {
  background: #DCDEDD;
  size: 0.5px;
  background: #009E74;
} */

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #009E74;
}

.grid-index-items-x {
  margin-right: 10rem;
  align-items: center;
  margin-left: 10rem;
}

.no-project {
  position: sticky;
  z-index: 150;
}

.grid-index-item-box-x {
  background-color: white;
  padding-top: 4rem;
}

/* form {
  z-index: auto;
} */

.entire-new-form-page {
  background-color: white;
}

.image-preview {
  font-family: 'Quicksand', sans-serif;
  font-size: 110%;
}

.photo-preview {
  border-radius: 10px;
  /* align-items: center; */
}

.error {
  color: red;
  font-size: 14px;
}

.show-project-side-creator-info {
  min-width: 80px;
}

.github-logo {
  width: 60px;
}

.linkedin-logo {
  width: 60px;
};

.github-linkedin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
}

.fresh-favorites {
  font-size: 1rem;
}
